/* Applies to all pages */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-nav {
  list-style-type: none;
  display: flex;
  text-decoration: none;
  margin-top:0;
  margin-bottom: 3rem;
  padding:0;
  text-decoration: none;
}

li {
  padding: 0.2rem;
  color: aqua;
}

.nav-items {
  text-decoration: none;
}

.Link {
  text-decoration: none;
}

a.active {
  color: black;
  font-weight: bolder;
}

/* Login and Register page css */

.form-container {
  padding-top: 5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  text-align: left;
  background-color: #DAD5D5;
}

button {
  margin: 0 0 10px 0;
  padding: 15px;
  font-size: 16px;
  text-align: left;
  background-color: #3889DF ;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  background-color: white;
  justify-content: center;
  align-items: center;
}   

.title {
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: #3889DF ;
  font-size: 20px;
}

/* Home page css */

.title-homepage {
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: #3889DF ;
  font-size: 38px;
}

/* Personal cards css */


.card-container {
  
   padding-bottom: 2rem;
   padding-left: 38rem;
   padding-top: 2rem;
}

.card-h {
  display: flex;
}

.card-date {
  padding-left: 0.5rem;
}

.card-author {
  font-weight: bold;
}

a.dotted {
  border-style:  5px black dotted;
}

.title-personalcards {
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: #3889DF ;
  font-size: 30px;
}

/* 

Add Card css 

*/

.addform-title {
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: #3889DF ;
  font-size: 30px;
  padding-bottom: 20px;
}

.addform-container{
  padding: 0;
}

.add-form-field{
  padding: 0.5rem;
  padding-left: 3rem;

}

.add-form-field::placeholder {
  text-align: left;
}

.add-form-field-body {
  padding: 2rem;
  resize: none;
}

.addcard-form { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

