.top-nav {
  list-style-type: none;
  display: flex;
  text-decoration: none;
  margin-top:0;
  margin-bottom: 3rem;
  padding:0;
  text-decoration: none;

  /* font-family:'Fira Sans', sans-serif ; */
}

li {
  padding: 0.2rem;
  color: aqua;
}

.nav-items {
  text-decoration: none;
}

.Link {
  text-decoration: none;
}

.dotted {
  border-style:  5px black dotted;
}

/* * {
  margin: auto;
  padding: 0;

} */

.card-container {
   /* margin-left: 2rem; */
   padding-bottom: 2rem;
   
}

.card-h {
  display: flex;
}

.card-date {
  padding-left: 0.5rem;
}
