body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    background-color: white;

}

.form-field {
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    text-align: left;
    background-color: #DAD5D5;
}

button {
    margin: 0 0 10px 0;
    padding: 15px;
    font-size: 16px;
    text-align: left;
    background-color: #3889DF ;
}

.title {
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #3889DF ;
    font-size: 20px;
}